<nav class="nav">
  <div class="nav-left">
    <a class="nav-item">
      Stuckyi Stduio
      <!-- <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo"> -->
    </a>
    </div>
    
    <div class="nav-center">
      <a class="nav-item">
        <span class="icon">
          <i class="fa fa-github"></i>
        </span>
      </a>
      <a class="nav-item">
        <span class="icon">
        <i class="fa fa-twitter"></i>
        </span>
      </a>
    </div>
    
    <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
    <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
    <span class="nav-toggle">
      <span>Projects</span>
      <span>Articles</span>
      <span>Profile</span>
    </span>
    
    <!-- This "nav-menu" is hidden on mobile -->
    <!-- Add the modifier "is-active" to display it on mobile -->
    <div class="nav-right nav-menu">
    <a class="nav-item"> Projects </a>
    <a class="nav-item"> Articles </a>
    <a class="nav-item"> Profile </a>
    <!--
    <div class="nav-item">
      <div class="field is-grouped">
        <p class="control">
          <a class="button" >
            <span class="icon">
              <i class="fa fa-twitter"></i>
            </span>
            <span>Tweet</span>
          </a>
        </p>
        <p class="control">
          <a class="button is-primary">
            <span class="icon">
              <i class="fa fa-download"></i>
            </span>
            <span>Download</span>
          </a>
        </p>
      </div>
    </div>
    -->
  </div>
</nav>
<section class="section">
    <div class="container">
      <div class="column is-3">
        스투키 스튜디오는 2017년 현재 서울에서 작업하고 있습니다.
        그들 스스로에게 필요한 정보를 수집하고, 정리하고, 효과적으로 전달하기 위해 연구하고 작업합니다.
      </div>


      <div class="tile is-ancestor">
        <div class="tile is-4">1</div>
        <div class="tile is-4">2</div>
        <div class="tile is-4">3</div> 
      </div>

    </div>
</section>
